    body {
      background-color: #000000;
      color: white;
      text-align: center;
    }
    p {
      font-size: 30px;
    }
    .image-wrapper img {
      width: 640px;
      height: 330px;
      margin: 10px;
    }